
table.document-list {
  width: 100%;
  margin-bottom: 0;

  td h5 { font-weight: bold; }
}

nav.filter-list {
  margin-bottom: 1em;

  .filter-header {
    display: block;

    border-bottom: 1px solid $gray-500;
    margin-top: 1em;

    font-weight: bold;
  }

  .badge {
    font-weight: 400;
  }
}

.advanced-label-row {
  margin-bottom: 1em;
}

.advanced-solr {
  padding-top: 5em;
}

.bool-group .form-control {
  display: inline-block !important;
  width: auto !important;
}

p.document-details {
  margin-bottom: 0;
  line-height: 1;
}

#back-to-top {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  z-index: 1000;

  display: none;
}
