.bundle
.DS_Store
.sass-cache
.vagrant
.yardoc

config/database.yml
deploy/roles/db/files/*_pass
deploy/roles/solr/files/*_pass
doc
downloads
log/*.log
public/assets
public/system
spec/coverage
tmp/*
!tmp/.gitkeep
vendor/bundle
