.bundle
.DS_Store
.sass-cache
.yardoc

config/database.yml
config/deploy/deploy_config.rb
contrib/solr/example/logs/*
contrib/solr/example/work
doc
downloads
log/*.log
public/assets
public/system
tmp/*
!tmp/.gitkeep
vendor/bundle
