.bundle
.DS_Store
.sass-cache
.yardoc

/coverage
/config/database.yml
/doc
/log/*
!/log/.gitkeep
/public/assets
/spec/coverage
/tmp/*
!/tmp/.gitkeep
/vendor/bundle
/vendor/nlp
!/vendor/nlp/.gitkeep
/vendor/solr
