- require 'csv'
- data = JSON.load(@task.result.file_contents(:original))
!= CSV.generate do |csv|
  - csv << [t('jobs.analysis.craig_zeta.csv_header', name_1: data['name_1'], name_2: data['name_2'])]
  - csv << ['']

  - # Output the marker words
  - csv << [t('jobs.analysis.craig_zeta.marker_header', name: data['name_1']), t('jobs.analysis.craig_zeta.marker_header', name: data['name_2'])]
  - data['marker_words'].each_with_index { |w, i| csv << [w, data['anti_marker_words'].at(i)] }
  - csv << ['']
  - csv << ['']

  - # Output the graphing points
  - csv << [t('jobs.analysis.craig_zeta.graph_header')]
  - csv << ['']
  - csv << [t('jobs.analysis.craig_zeta.block_name_column'), t('jobs.analysis.craig_zeta.marker_column'), t('jobs.analysis.craig_zeta.anti_marker_column')]
  - data['graph_points'].each { |l| csv << l }
  - csv << ['']

  - # Output the Zeta scores
  - csv << [t('jobs.analysis.craig_zeta.zeta_score_header')]
  - data['zeta_scores'].each { |k, v| csv << [k, v] }

  - csv << ['']
