- data = JSON.load(@task.result.file_contents(:original))

%div.center
  %h1== Comparison of #{data['name_1']} with #{data['name_2']}
  %h2 (Craig Zeta algorithm)

  .verticalpad

  %div.craig_zeta_data= data['graph_points'].to_json
  %div.craig_zeta_graph

  .verticalpad

  %div.craig_zeta_table

  = link_to 'Download in CSV format', { controller: 'datasets', action: 'task_view', id: @dataset.to_param, task_id: @task.to_param, view: 'download', format: 'csv' }, rel: 'external', data: { role: 'button', icon: 'bars', inline: 'true' }
