%h1= t('user_mailer.job_finished.header')
%p.lead= t('user_mailer.job_finished.intro', task: @task.name, dataset: @task.dataset.name)
%p
  %a{ href: workflow_fetch_url }= t('user_mailer.job_finished.link')
%p= t('user_mailer.job_finished.warning')
