%h4= t('.header')

%nav.nav.nav-pills.flex-column.filter-list
  - if params[:fq].present? || Documents::Category.active(params).present?
    = render partial: 'search/filters/remove'
  = render partial: 'search/filters/add'
