%h4= t('.filters')

%ul.nav.nav-pills.nav-stacked.filter-list
  - if params[:fq].present? || Documents::Category.active(params).present?
    = render partial: 'search/filters/remove'
  = render partial: 'search/filters/add'
