--- 
http_interactions: 
- request: 
    method: get
    uri: https://raw.github.com/citation-style-language/styles/master/science.csl
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "100"
      X-Ratelimit-Remaining: 
      - "100"
      Content-Disposition: 
      - inline
      Content-Transfer-Encoding: 
      - binary
      Etag: 
      - "\"0309b998f5e1e5fa749b1afa7649ebf6\""
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <style xmlns="http://purl.org/net/xbiblio/csl" class="in-text" version="1.0" demote-non-dropping-particle="sort-only" default-locale="en-US">
          <info>
            <title>Science</title>
            <id>http://www.zotero.org/styles/science</id>
            <link href="http://www.zotero.org/styles/science" rel="self"/>
            <link href="http://www.sciencemag.org/about/authors/prep/res/refs.dtl" rel="documentation"/>
            <author>
              <name>Julian Onions</name>
              <email>julian.onions@gmail.com</email>
            </author>
            <contributor>
              <name>Sebastian Karcher</name>
            </contributor>
            <contributor>
              <name>Greg Barendt</name>
            </contributor>
            <category citation-format="numeric"/>
            <category field="science"/>
            <issn>0036-8075</issn>
            <issn>1095-9203</issn>
            <summary>The Science journal style.</summary>
            <updated>2012-09-27T22:06:38+00:00</updated>
            <rights license="http://creativecommons.org/licenses/by-sa/3.0/">This work is licensed under a Creative Commons Attribution-ShareAlike 3.0 License</rights>
          </info>
          <macro name="editor">
            <names variable="editor" prefix="" suffix="" delimiter=", ">
              <name initialize-with=". " delimiter=", " delimiter-precedes-last="always"/>
              <label form="short" prefix=", " text-case="capitalize-first" suffix="." strip-periods="true"/>
            </names>
          </macro>
          <macro name="author">
            <names variable="author">
              <name sort-separator=", " initialize-with=". " delimiter=", " delimiter-precedes-last="always"/>
              <label form="short" prefix=", " suffix="." text-case="capitalize-first" strip-periods="true"/>
              <et-al font-style="italic"/>
              <substitute>
                <names variable="editor"/>
              </substitute>
            </names>
          </macro>
          <macro name="access">
            <choose>
              <if variable="page" match="none">
                <choose>
                  <if variable="DOI">
                    <text variable="DOI" prefix=", doi:"/>
                  </if>
                  <else>
                    <group prefix=" (" suffix=")">
                      <text value="available at "/>
                      <text variable="URL"/>
                    </group>
                  </else>
                </choose>
              </if>
            </choose>
          </macro>
          <macro name="title">
            <choose>
              <if type="bill book graphic legal_case legislation motion_picture report song" match="any">
                <text variable="title" font-style="italic"/>
              </if>
              <else>
                <text variable="title"/>
              </else>
            </choose>
          </macro>
          <macro name="publisher">
            <group delimiter=", ">
              <text variable="publisher"/>
              <text variable="publisher-place"/>
            </group>
          </macro>
          <macro name="volume">
            <text variable="volume" prefix="vol. "/>
          </macro>
          <macro name="pages">
            <label variable="page" form="short" suffix=". " strip-periods="true"/>
            <text variable="page" form="short"/>
          </macro>
          <macro name="issued">
            <date variable="issued" delimiter=" ">
              <date-part name="year"/>
            </date>
          </macro>
          <macro name="edition">
            <choose>
              <if is-numeric="edition">
                <group delimiter=" ">
                  <text term="edition" form="short" suffix="." strip-periods="true"/>
                  <number variable="edition" form="numeric"/>
                </group>
              </if>
              <else>
                <text variable="edition" suffix="."/>
              </else>
            </choose>
          </macro>
          <citation collapse="citation-number">
            <sort>
              <key variable="citation-number"/>
            </sort>
            <layout prefix="(" suffix=")" delimiter=", ">
              <text variable="citation-number" font-style="italic"/>
            </layout>
          </citation>
          <bibliography hanging-indent="false" et-al-min="6" et-al-use-first="1">
            <layout suffix=".">
              <text variable="citation-number" suffix=". "/>
              <text macro="author" suffix=","/>
              <choose>
                <if type="thesis">
                  <text value=" thesis, "/>
                  <text macro="publisher"/>
                  <text macro="issued" prefix=" (" suffix=")"/>
                </if>
                <else-if type="bill book graphic legal_case legislation motion_picture report song" match="any">
                  <group>
                    <text macro="title" prefix=" "/>
                    <text macro="editor" prefix=" "/>
                  </group>
                  <group prefix=" (" suffix=")">
                    <group delimiter=", ">
                      <text macro="publisher"/>
                      <text macro="edition"/>
                      <text macro="issued"/>
                    <[...]
