.modal-dialog{ role: 'document' }
  .modal-content
    .modal-header
      %h4.modal-title= t('.header')
      %h6.text-muted= t('.subheader')
      = close_icon(dismiss: 'modal')

    = render partial: 'form', locals: { url: library_path(@library) }
