.modal-dialog
  .modal-content
    .modal-header
      %button.close{ type: 'button', data: { dismiss: 'modal' } }
        %span{ aria: { hidden: 'true' } } &times;
        %span.sr-only Close

      %h4.modal-title= t('.header')
      %h6.text-muted= t('.subheader')

    = render partial: 'form', locals: { url: library_path(@library) }
