.modal-dialog
  .modal-content
    .modal-header
      = render partial: 'bootstrap/close_icon', locals: { data: { dismiss: 'modal' } }

      %h4.modal-title= t('.header')
      %h6.text-muted= t('.subheader')

    = render partial: 'form', locals: { url: library_path(@library) }
