- content_for :javascript do
  = javascript_include_tag 'datasets_index'

%div.dataset_list{ data: { fetch_url: dataset_list_datasets_path } }
  %ul{ data: { role: 'listview', theme: 'd', divider_theme: 'b' } }
    %li= t('.loading_datasets')
