- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  %li.active= t('breadcrumbs.datasets_index')

.row
  .col-sm-12
    %h1= t('.header')
    %h4.text-muted= t('.subheader')

.row
  #dataset-list.col-sm-12{ data: { fetch_url: datasets_path } }
