- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to t('breadcrumbs.root'), root_path
  %li.breadcrumb-item.active= t('breadcrumbs.datasets_index')

.row
  .col-12
    %h1= t('.header')
    %h4.text-muted= t('.subheader')

.row
  .col-12#dataset-list{ data: { fetch: 'auto', fetch_url: datasets_path } }= render template: 'datasets/index_xhr', layout: false
