- content_for :javascript, javascript_include_tag('datasets_index')
- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  %li.active= t('breadcrumbs.datasets_index')

%header
  %section
    %h2= t('.header')
    %h4.subheader= t('.subheader')

.row
  #dataset-list.small-12.columns{ data: { fetch_url: datasets_path } }
    .preloader
