= render partial: 'collection_header'

.row
  .col-sm-12
    = as_nestable_list(@collection.roots) do |item|
      .pull-right= render partial: 'collection_buttons', locals: { item: item }
      .dd-handle= item.to_s

- content_for :javascript do
  :javascript
    window.jQuery('.dd').nestable();
