
.row
  .col-sm-12
    %h1= t('.header', model_name: @model.model_name.human)

.row
  .col-sm-12
    = render partial: 'item_form', locals: { url: admin_item_path(model: params[:model]), method: :patch }
