%h4 Add a new library:
%h6.subheader Fill in the details to your local library's OpenURL resolver, and we'll take it from there.

= render partial: 'form', locals: { url: libraries_path }
%a.close-reveal-modal &#215;
