- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to t('breadcrumbs.root'), root_path
  %li.breadcrumb-item.active= t('breadcrumbs.workflow_fetch')

.row
  .col-12
    %h1= t('.header')
    %h4.text-muted= t('.subheader')

.row
  .col-12#workflow-task-list{ data: { fetch: 'auto', fetch_url: workflow_fetch_path } }= render template: 'workflow/fetch_xhr', layout: false
