- content_for :javascript, javascript_include_tag('workflow_fetch')
- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  %li.current= link_to t('breadcrumbs.workflow_fetch'), workflow_fetch_path

%header
  %section
    %h2= t('.header')
    %h4.subheader= t('.subheader')

#task-list.small-12.columns{ data: { fetch_url: workflow_fetch_path } }
  .preloader
