#markdown-landing= MarkdownPage.render('landing')

.row
  .small-5.small-centered.columns
    = link_to 'Sign up to get started!', new_user_registration_path, id: 'landing-login'

.row
  .small-6.small-centered.columns
    %h3 What can it do?

    .slideshow-wrapper
      .preloader
      %ul#screenshots{ 'data-orbit' => true }
        %li{ 'data-orbit-slide' => 'screenshot-1' }
          %img{ src: 'http://placehold.it/640x480' }
          .orbit-caption This should be a screenshot with a caption
        %li{ 'data-orbit-slide' => 'screenshot-2' }
          %img{ src: 'http://placehold.it/640x480' }
          .orbit-caption This should be a screenshot with a caption
        %li{ 'data-orbit-slide' => 'screenshot-3' }
          %img{ src: 'http://placehold.it/640x480' }
          .orbit-caption This should be a screenshot with a caption
