
// Icon styling
.cloud-tooltip {
  margin-left: 0.3em;
}

// Styling for our various "manage" tables with a right-hand button
// column
table.button-table {
  width: 100%;
  margin-top: 1em;

  td.button-cell, th.button-cell { width: 1px; white-space: nowrap; }
  td.multi-row .btn, td.multi-row button { margin-bottom: 4px; }
}

.footer {
  padding: 3em 0;

  p { margin: 0 0 0 0.5em; }
}

// Fix the styling for the nestable plugin
.dd-list li div {
  border: none !important;
  background: transparent !important;
}

// Styling to make Rails automatic form validation markup do the right thing
// in Bootstrap
.field_with_errors input {
  @extend .is-invalid;
}
