
// Utility class to force-break long text in an element
.break-all {
  word-break: break-all;
}

// Styling for our various "manage" tables with a right-hand button
// column
table.button-table {
  width: 100%;
  margin-top: 1em;

  td.button-cell, th.button-cell { width: 1px; white-space: nowrap; }
  td.multi-row .btn, td.multi-row button { margin-bottom: 4px; }
}

// Force the sign-in form to be wider
#sign-in-form {
  width: 20em;
}

.footer {
  padding: 3em 0;

  p { margin: 0 0 0 0.5em; }
}


// Pieces of forms that start hidden, but may be revealed by jQuery later. We
// can't just use Bootstrap's .d-none class, as it includes a '!important'.
.start-hidden {
  display: none;
}
.start-invisible {
  visibility: hidden;
}

// Styling for our expandable "sub-fields" in forms that depend on other
// state
.sub-form {
  @extend .pl-3;
  border-left: 4px solid theme-color('secondary');
  margin-bottom: $form-group-margin-bottom;
}

.sub-form.form-group {
  padding-bottom: $form-group-margin-bottom;
}
