.modal-dialog{ role: 'document' }
  .modal-content
    .modal-header
      %h4.modal-title= t('.header', category: @category.name)
      = close_icon(dismiss: 'modal')

    = render partial: 'form', locals: { category: @category, url: category_path(@category), method: :patch }
