- require 'csv'
- data = YAML.load(@task.result.file_contents(:original))
- dates = data[:data]
- percent = data[:percent]
= CSV.generate do |csv|
  - csv << [ 'Year', percent ? 'Fraction of Documents' : 'Number of Documents' ]
  - dates.each do |d|
    - csv << d
