= f.input :normalize_doc_counts, label: "Normalize document counts to frequencies?", as: :boolean
= field_set_tag "Normalization parameters:", id: 'normalize_doc_counts_controls', style: 'display: none' do
  = f.input :normalize_doc_dataset, label: "Dataset for normalization", collection: current_user.datasets, label_method: :name, value_method: :to_param, prompt: 'Entire corpus'
