
table.document-list {
  width: 100%;

  td h5 { font-weight: bold; }
}

// Make the nested lists in the side nav look right
.side-nav li li { margin-bottom: 0; }
.side-nav ul { list-style-type: none; }
.side-nav li.documents_category input { position: relative; top: 2px; }
.side-nav li.documents_category a span { margin-left: 0.5em; }

.advanced-shift { padding-top: 1em; }

p.document-details {
  margin-bottom: 0;
  line-height: 1;
}
