
.top-pagination, .bottom-pagination {
  margin-top: 0;
}

table.document-list {
  width: 100%;

  td h5 { font-weight: bold; }
}

ul.filter-list {
  margin-bottom: 1em;

  li.filter-header {
    border-bottom: 1px solid #ddd;
    margin-top: 1em !important;
  }

  li input {
    margin-right: 0.5em;
  }

  ul {
    list-style-type: none;
    padding-left: 20px;
  }
  li > a {
    // This is copied from the relevant nav style in Bootstrap, which is
    // unfortunate, but necessary.
    position: relative;
    display: block;
    padding: 10px 15px 10px 0;

    &:hover, &:focus {
      text-decoration: none;
      background-color: #eee;
    }
  }
}

.advanced-shift { padding-top: 1em; }

p.document-details {
  margin-bottom: 0;
  line-height: 1;
}
