
#markdown-landing {
  h1 {
    padding-top: 2em;
    text-align: center;
  }

  h4 {
    @extend .text-muted;

    margin-top: 1.5em;
    margin-bottom: 2.5em;
    text-align: center;

    width: 70%;
    margin-left: 15%;
  }

  blockquote {
    @extend .well;

    width: 75%;
    margin-left: 12%;
    margin-bottom: 2em;
  }

  h5 {
    font-size: 130%;
  }
}

#landing-login {
  margin-top: 3em;
  margin-bottom: 3em;
}

.job-question {
  // @include button($button-med, $secondary-color, false, true);
  // @include single-transition;
  // @include inset-shadow;
}

#markdown-info {
  h4 {
    // line-height: $subheader-line-height;
    // color: $subheader-font-color;
    // font-weight: $subheader-font-weight;
  }

  blockquote {
    // @include panel;

    width: 60%;
    margin-left: 20%;
    margin-bottom: 2em;
  }
}
