- if NLP_ENABLED
  = link_to('Extract references to proper names', { controller: 'datasets', action: 'task_start', id: @dataset.to_param, class: 'NamedEntities' }, class: 'button small secondary expand')
