- require 'csv'
- data = JSON.load(@task.result.file_contents(:original))
!= CSV.generate do |csv|
  - csv << [ 'Type', 'Hit' ]
  - data.each do |category, list|
    - list.each do |hit|
      - csv << [ category, hit ]
