
.row
  %h2== #{Setting.app_name} Dashboard

.row
  .small-6.columns
    = link_to 'Start a new analysis', '#', class: 'button success expand'
    = link_to 'See results of old analyses', '#', class: 'button secondary expand'
    = link_to 'Create a new dataset', search_path, class: 'button secondary expand'

  .small-6.columns
    Some info here, maybe?
