- if ENV['maintenance_message']
  .alert.alert-warning{ role: 'alert' }= ENV['maintenance_message'].html_safe
- flash.each do |key, value|
  %div{ class: "alert alert-dismissible alert-#{ { success: 'success', alert: 'danger' }[key.to_sym] || 'info' }", role: 'alert' }
    = value
    = close_icon(dismiss: 'modal')
