-# Deactivate all of the Bootstrap animations and jQuery transitions
- content_for :javascript do
  :javascript
    $(document).ready(function() {
      $.fx.off = true;
      $.support.transition = false;
    });
